@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.btn {
  @include button-base;
  @include focus-visible;
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.btn-primary, .category-btn, .resource-link, .featured-button, .video-link, .form-button {
  @include button-base;
}

.category-btn {
  border: 1px solid $primary-dark;
  &.active { background-color: $primary-light; }
}

.resource-link, .video-link {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}

.featured-button {
  font-size: 1.2rem;
  box-shadow: $shadow-md;
  align-self: flex-start;
  &:hover {
    color: white;
    transform: translateY(-2px);
    box-shadow: $shadow-md;
  }
}

.video-link {
  margin-top: auto;
}

.form-button {
  width: 100%;
  max-width: 250px;
  margin: 1rem auto 0;
  display: block;
}
