@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.featured-section {
  padding-top: 2rem;
  background-color: $light;
}

.category-section {
  margin-bottom: 3rem;
  
  h2 {
    color: $primary-dark;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
}

.resource-categories {
  @include flex-center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
